/* ==UserStyle==
@name        【ArtStation】更宽的弹窗
@namespace   https://github.com/zheung
@version     1.1.0
@author      DanoR
@description 默认的弹窗太窄，因此加宽
@updateURL   https://pile.danor.app/usercss/artstation-wider-modal-dialog.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.artstation.com/artwork") {
	.modal-dialog {
		width: 960px;
	}
}
