/* ==UserStyle==
@name        【哔哩哔哩】直播间隐藏广播横幅
@namespace   https://github.com/zheung
@version     1.0.0
@author      DanoR
@description 直播间隐藏滚动的广播横幅
@updateURL   https://pile.danor.app/usercss/bilibili-live-hide-announcement.user.css
==/UserStyle== */

@-moz-document url-prefix("https://live.bilibili.com/") {
	.announcement-wrapper {
		display: none;
	}
}
