/* ==UserStyle==
@name        bilibili-platform-patch
@namespace   https://danor.app
@version     1.1.0+23041320
@author      DanoR
@description 【哔哩哔哩】创作中心补丁
@updateURL   https://pile.danor.app/usercss/bilibili-platform-patch.user.css
==/UserStyle== */



@-moz-document url-prefix("https://member.bilibili.com/platform/inter-active/danmu") {
	/* 弹幕管理：弹幕内容不省略 */
	a.colum-content.ellipsis {
		white-space: unset !important;
		word-break: unset !important;
	}
}

@-moz-document url-prefix("https://member.bilibili.com/platform/upload-manager/ep") {
	/* 合计管理：单集标题不省略，左对齐 */
	.ep-section-edit-video-list-item-title .title-text-content {
		text-overflow: unset !important;
		width: 170px;
		text-align: left;
	}
}
