/* ==UserStyle==
@name        chaturbate-video-fullview
@namespace   https://danor.app
@version     1.1.0+23041814
@author      DanoR
@description 【Chaturbate】直播视频网页全屏
@updateURL   https://pile.danor.app/usercss/chaturbate-video-fullview.user.css
==/UserStyle== */



@-moz-document domain("chaturbate.com") {
	div#vjs_video_3 {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999999;
		background: black !important;
	}
}
