/* ==UserStyle==
@name        【通用】DanoR字体渲染补丁
@namespace   https://github.com/zheung
@version     2.3.3
@author      DanoR
@description 利用text-shadow的字体渲染优化
@updateURL   https://pile.danor.app/usercss/danor-font-render-patch.user.css
==/UserStyle== */



@-moz-document regexp("((?!((paypal|debuggex|iqiyi|bilibili|(codecombat\\.163))\\.com)|paiza\\.jp|acfun\\.cn).)*"), regexp("chrome-extension://.*"), regexp("moz-extension://.*") {
	/* 全局阴影（正则黑名单） */
	* {
		text-shadow: 0em 0em 0.06em !important;
	}
}

@-moz-document domain("hupu.com") {
	/* 全局雅黑（域名白名单） */
	* {
		font-family: Microsoft YaHei !important;
	}
}

/* 只能部分阴影的网站 */
@-moz-document domain("iqiyi.com") {
	/* 阴影+爱奇艺弹幕 */
	:not(.danmaku-item) {
		text-shadow: 0em 0em 0.06em !important;
	}

	.danmaku-item > span {
		text-shadow: rgb(47, 38, 20) 1px 0px 0px, rgb(47, 38, 20) 0px 1px 0px, rgb(47, 38, 20) -1px 0px 0px, rgb(47, 38, 20) 0px -1px 0px !important;
	}
}

@-moz-document domain("bilibili.com") {
	/* 哔哩哔哩弹幕排除 */
	:not(.bpx-player-video-area *):not(.bili-dm) {
		text-shadow: 0em 0em 0.06em !important;
	}

	.bili-high-text {
		--textShadow: 1px 0 1px #000000, 0 1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000;
		text-shadow: var(--textShadow);
	}
}

/* 需要额外字体的网站 */
@-moz-document domain("oschina.net") {
	/* 开源中国图标 */
	* {
		font-family: Microsoft YaHei !important;
	}

	i.icon {
		font-family: brand-icons, Icons !important;
	}
}

@-moz-document regexp("chrome-extension://.*"), regexp("moz-extension://.*") {
	/* Stylus自身 */
	* {
		font-family: Source Code Pro !important;
	}
}

@-moz-document domain("baidu.com") {
	/* 百度图标 */
	* {
		font-family: Microsoft YaHei !important;
	}

	.cmn-icons {
		font-family: baikeFont_css !important;
	}

	.wiki-lemma-icons {
		font-family: baikeFont_layout !important;
	}
}

@-moz-document domain("acfun.cn") {
	div:not(.danmaku-item) {
		text-shadow: 0em 0em 0.06em !important;
	}
}

@-moz-document regexp(".*") {
	html, .grayTheme {
		filter: none !important;
	}
}
