/* ==UserStyle==
@name        【通用】DanoR字体渲染补丁
@namespace   https://github.com/zheung
@version     2.4.0
@author      DanoR
@description 利用text-shadow的字体渲染优化
@updateURL   https://pile.danor.app/usercss/danor-font-render-patch.user.css
==/UserStyle== */



@-moz-document url-prefix("chrome-extension://"), url-prefix("moz-extension://"), regexp("((?!((bilibili|iqiyi|paypal)\\.com)|acfun\\.cn).)*") {
	/* 全局阴影（正则黑名单） */

	* {
		text-shadow: 0em 0em 0.06em !important;
	}
}

@-moz-document url-prefix("chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne"), url-prefix("moz-extension://e4b74982-554c-4e24-b21a-16531325cb1d") {
	/* Stylus */

	/* 代码编辑器使用Source Code Pro字体 */
	.CodeMirror-code *:not(i[class^=i-]) {
		font-family: Source Code Pro;
	}
}

@-moz-document domain("bilibili.com") {
	/* 哔哩哔哩 */

	/* 全局阴影（排除视频弹幕和直播弹幕） */
	:not(.bpx-player-row-dm-wrap *):not(.danmaku-item-container *) {
		text-shadow: 0em 0em 0.06em !important;
	}

	/* 补充居中的高赞弹幕缺少的字体阴影 */
	.bili-dm.bili-center.bili-high.bili-high-top.bili-show {
		--textShadow: 1px 0 1px #000000, 0 1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000;
	}
}

@-moz-document domain("acfun.cn") {
	/* AcFun */

	/* 全局阴影（排除视频弹幕） */
	:not(.danmaku-screen *) {
		text-shadow: 0em 0em 0.06em !important;
	}
}

@-moz-document domain("iqiyi.com") {
	/* 爱奇艺 */

	/* 全局阴影（排除视频弹幕） */
	:not(.iqp-barrage-item *) {
		text-shadow: 0em 0em 0.06em !important;
	}
}
