/* ==UserStyle==
@name        DanoR 字体渲染
@namespace   https://github.com/zheung
@version     2.0.2
@author      DanoR
@description DanoR FontRender
@updateURL   https://pile.danor.app/stylus/danor.user.css
==/UserStyle== */
@-moz-document regexp("((?!((iqiyi|bilibili|(codecombat\.163))\.com)|paiza\.jp).)*") {
	/* 全局阴影（正则黑名单） */
	* {
		text-shadow: 0em 0em 0.06em !important;
	}
}
@-moz-document domain("hupu.com"), domain("baidu.com") {
	/* 全局阴影+雅黑（域名白名单） */
	* {
		font-family: Microsoft YaHei !important;
	}
}
@-moz-document domain("iqiyi.com") {
	/* 阴影+爱奇艺弹幕 */
	:not(.danmaku-item) {
		text-shadow: 0em 0em 0.06em !important;
	}

	.danmaku-item > span {
		text-shadow: rgb(47, 38, 20) 1px 0px 0px, rgb(47, 38, 20) 0px 1px 0px, rgb(47, 38, 20) -1px 0px 0px, rgb(47, 38, 20) 0px -1px 0px !important;
	}
}
@-moz-document domain("bilibili.com") {
	/* 阴影+哔哩哔哩弹幕 */
	:not(.bilibili-danmaku):not(.subtitle-item-text) {
		text-shadow: 0em 0em 0.06em !important;
	}

	.subtitle-item-text {
		font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif !important;
		text-shadow: rgb(0, 0, 0) 0px 0px 1px, rgb(0, 0, 0) 0px 0px 1px, rgb(0, 0, 0) 0px 0px 1px !important;
	}
}
@-moz-document domain("oschina.net") {
	/* 阴影+开源中国图标 */
	* {
		font-family: Icons, Microsoft YaHei !important;
	}
}
@-moz-document domain("clngdbkpkpeebahjckkjfobafhncgmne") {
	/* Stylus自身 */
	* {
		font-family: Source Code Pro !important;
	}
}
