/* ==UserStyle==
@name        exhentai-mpv-image-max-viewheight
@namespace   https://danor.app
@version     1.3.0+23041321
@author      DanoR
@description 【ExHentai/E-Hentai】限制MPV浏览器图片最大为视图高度
@updateURL   https://pile.danor.app/usercss/exhentai-mpv-image-max-viewheight.user.css
==/UserStyle== */



@-moz-document url-prefix("https://exhentai.org/mpv/") {
	img[id^=imgsrc] {
		width: auto !important;
		max-height: calc(100vh - 30px);
	}
	div[id^=image_] {
		max-height: calc(100vh - 0px);
	}
}

@-moz-document url-prefix("https://e-hentai.org/mpv/") {
	img[id^=imgsrc] {
		width: auto !important;
		max-height: calc(100vh - 30px);
	}
	div[id^=image_] {
		max-height: calc(100vh - 0px);
	}
}
