/* ==UserStyle==
@name        【咪咕视频】直播视频网页全屏
@namespace   https://github.com/zheung
@version     1.1.0
@author      DanoR
@description 咪咕视频直播网页全屏
@updateURL   https://pile.danor.app/usercss/migu-video-full-view-screen.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.miguvideo.com/mgs/website/prd/sportLive.html") {
	video {
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: 9999;
	}
}
