/* ==UserStyle==
@name        saucenao-resultpage-search-rightify
@namespace   https://danor.app
@version     1.2.1+23090411
@author      DanoR
@description 【Saucenao】将搜索结果页下方的搜索表单移动至右侧
@updateURL   https://pile.danor.app/usercss/saucenao-resultpage-search-rightify.user.css
==/UserStyle== */



@-moz-document url-prefix("https://saucenao.com/search.php") {
	body {
		white-space: nowrap;
	}

	div#middle > div:last-child {
		opacity: 100%;
	}

	#mainarea {
		display: inline-block;
	}
	#footerarea {
		display: inline-block;
		vertical-align: top;
	}

	#footerarea > #footer-middle {
		margin: 0px;
	}
	#footerarea > #footer-middle > #randomMessage {
		text-align: left;
	}
	#footerarea > #footer-middle > #Search {
		margin: 0px !important;
	}
}
