/* ==UserStyle==
@name           腾讯体育看比赛全屏
@namespace      https://github.com/zheung
@version        1.2.0
@description    腾讯体育看比赛全屏
@author         DanoR
@updateURL      https://pile.danor.app/stylus/sports.qq.user.css
==/UserStyle== */
@-moz-document url-prefix("https://sports.qq.com/kbsweb/game.htm?mid="), url-prefix("https://kbs.sports.qq.com/kbsweb/game.htm?mid=") {
    div.main > .screen {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        z-index: 9999;
    }

    #tvpLiveMod, .txp_player {
        height: 100% !important;
    }

    .txp-watermark, .txp_watermark {
        display: none;
    }
}
