/* ==UserStyle==
@name        【xHamsterLive】直播视频网页全屏
@namespace   https://github.com/zheung
@version     1.1.0
@author      DanoR
@description xHamsterLive直播视频网页全屏
@updateURL   https://pile.danor.app/usercss/xhamsterlive-video-full-view-screen.user.css
==/UserStyle== */

@-moz-document domain("xhamsterlive.com") {
	div.content {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999999 !important;
	}
}
