/* ==UserStyle==
@name        xhamsterlive-video-fullview
@namespace   https://danor.app
@version     1.1.0+23041814
@author      DanoR
@description 【xHamsterLive】直播视频网页全屏
@updateURL   https://pile.danor.app/usercss/xhamsterlive-video-fullview.user.css
==/UserStyle== */



@-moz-document domain("xhamsterlive.com") {
	div.content {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999999 !important;
	}
}
