/* ==UserStyle==
@name           xhamsterlive-video-full-page
@namespace      nuogz
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("xhamsterlive.com") {
	div.content {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999999 !important;
	}
}
